{% extends 'index.html'%}

{%block titulo%}
    Eliminacion de cliente
{%endblock titulo%}
{% block body%}
    <form method="POST">
        {% csrf_token %}
        <h2> Quiere eliminar este cliente  {{cliente.nombre}} ?</h2>           <!-- se pregunta si quiere eliminar a ese clientes y le pasamos el objeto que traemos de la bd       -->
          <button type="submit" >Eliminar</button>
          <a href="{% url 'Clientes:listar_cliente' %}" > Cancelar </a>     <!-- se pasa un url si decide cancelar -->

    </form>


{% endblock body %}
